* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Noto Sans KR", sans-serif;
  font-style: normal;
}
.App {
  height: 812px;
  width: 375px;
  border: solid black 1px;
  /* overflow: hidden; */
}
.native {
  height: 44px;
  width: 375px;
  background-color: #999;
}
