* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Noto Sans KR", sans-serif;
  font-style: normal;
}
.App {
  height: 812px;
  width: 375px;
  /* border: solid black 1px; */
  /* overflow: scroll; */
}
.native {
  height: 44px;
  width: 375px;
  background-color: #999;
}

.basic_nav {
  color: #767676;
  border-bottom: 1px solid #ff6600;
}

.unclicked_nav {
  color: #767676;
  border-bottom: 1px solid #767676;
}

.clicked_nav {
  color: #ff6600;
  border-bottom: 2px solid #ff6600;
  font-weight: 500;
}
